.img-s-in {
	width: 100%;
}

.cont-index {
	display: flex;
	align-content: space-around;
	justify-content: center;
	padding: 5rem 1rem;
	.parrafo-index {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	.img-index-inf {
		width: 90%;
	}
	.foto-index {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0px;
	}
	p {
		padding: 1rem 3rem;
	}
}

@media (max-width: 768px) {
	.cont-index {
		padding: 1rem;
		p {
			padding: 1rem 0px;
		}
	}
	.parrafo-index {
		padding: 2rem;
	}
	.foto-index {
		padding: 2rem;
	}
}
