.h1-cont {
	display: flex;
	justify-items: center;
	align-items: center;
	justify-content: center;
	padding: 4rem;
	div {
		padding-top: 2rem;
		width: 50%;
	}
}

.cont-contenedo {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.cont-img {
	img {
		width: 100%;
		padding: 2rem;
	}
}
.cont-form {
	padding: 2rem;
	input {
		padding: 1rem;
		width: 90%;
		border-color: white;
		border-bottom: 0.12rem solid black;
		border-radius: 0px;
		outline: none;
	}
	textarea {
		@extend input;
	}
}

@media (max-width: 768px) {
	.h1-cont {
		padding: 1rem;
		div{
			width: 100%;
		}
	}
	.cont-img {
		padding: 1rem;
	}
	.cont-form {
		padding: 3rem;
	}
}
