.carousel-item {
	align-items: center;
	padding: 0 2rem;
	width: 100%;
}

.tit-porfolio {
	text-align: center;
	padding: 4rem;
}
.tex-porfolio {
	@extend .tit-porfolio;
}
.galeria {
	display: grid;
	justify-content: center;
	grid-auto-rows: 20rem;
	grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
	gap: 3rem;
	margin: 3rem;
	.link-prfolio {
		text-decoration: none;
		color: black;
		.card {
			justify-self: center;
			text-align: center;
			background: rgb(238, 238, 238);
			border-radius: 0%;
			&:hover {
				-webkit-box-shadow: 7px 1px 35px 3px rgba(0, 0, 0, 0.7);
				-moz-box-shadow: 7px 1px 35px 3px rgba(0, 0, 0, 0.7);
				box-shadow: 7px 1px 35px 3px rgba(0, 0, 0, 0.7);
			}
			img {
				border-radius: 0%;
				object-fit: cover;
				padding: 10px;
			}
			h2 {
				padding: 1rem;
				text-transform: uppercase;
			}
		}
	}
}
